<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="junrikson@gmail.com">
    <link rel="shortcut icon" href="{{ asset('bundles/sifoshared/img/favicon.ico') }}">

    <title>Sistem Informasi Sekolah - User Login</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('bundles/sifoshared/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/sifoshared/css/bootstrap-reset.css') }}" rel="stylesheet">
    <!--external css-->
    <link href="{{ asset('bundles/sifoshared/assets/font-awesome/css/font-awesome.css') }}" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="{{ asset('bundles/sifoshared/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/sifoshared/css/style-responsive.css') }}" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="{{ asset('bundles/sifoshared/js/html5shiv.js') }}"></script>
    <script src="{{ asset('bundles/sifoshared/js/respond.min.js') }}"></script>
    <![endif]-->
</head>
  <body class="login-body">
    <div class="container">
{% if error %} 
    <div class="alert alert-block alert-danger fade in" style="text-align: center; margin-top:50px; padding-bottom: -150px;" id="status">
        <button data-dismiss="alert" class="close close-sm" type="button">
            <i class="icon-remove"></i>
        </button>
        <strong>{{ error.message }}</strong>
    </div>
{% endif %}
      <form class="form-signin" action="{{ path('user_login_check') }}" method="post">
        <h2 class="form-signin-heading">sign in now</h2>
        <div class="login-wrap">
            <input type="text" class="form-control" placeholder="User ID" autofocus id="username" name="_username" />
            <input type="password" class="form-control" placeholder="Password" id="password" name="_password" />
            <label class="checkbox">
                <input type="checkbox" value="remember-me"> Remember me
                <span class="pull-right">
                    <a href="{{ path('public_default') }}"><i class="icon-home"></i> Back to home</a>
                </span>
            </label>
            <button class="btn btn-lg btn-login btn-block" type="submit">Sign in</button>
            <p>or you can sign in via social network</p>
            <div class="login-social-link">
                <a href="{{ path('user_facebook_login') }}" class="facebook">
                    <i class="icon-facebook"></i>
                    Facebook
                </a>
                <a href="{{ path('user_twitter_login') }}" class="twitter">
                    <i class="icon-twitter"></i>
                    Twitter
                </a>
            </div>         
        </div>
      </form>
    </div>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="{{ asset('bundles/sifoshared/js/jquery.js') }}"></script>
    <script src="{{ asset('bundles/sifoshared/js/bootstrap.min.js') }}"></script>


  </body>
</html>
